body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: white;
    margin: 0;
}

/* Image + Odin logo and text*/
.image-container {
    position: flex;
    align-items: center;
    height: 100vh;
    width: 500px;
}


.background-image {
    display: inline-block;
    height: 100vh;
    width: 500px;
}

.transparent-background {
    position: absolute;
    display: flex;
    justify-content: center;
    background-color: black;
    opacity: 60%;
    top: 50%;
    width: 500px;
    height: 100px;
}

.odin-logo {
    height: 100px;
    width: auto;
    margin-right: 30px;
}

.overlay-text {
    color: white;
    font-size: 32px;
}

/* Text, this should be to the right of the images */
.text-container {
    display: inline-block;
    justify-content: center;
    height: auto;
    width: auto;
}

.long-sentence {
    font-size: 32px;
    margin: 0;
    padding: 80px 300px 80px 60px;
    
}

.login-Info {
    display: block;
    height: auto;
    width: auto;
    box-shadow: 1px ;
    border: 1px solid lightgray;
    background-color: #F7F7F7;
    padding-left: 60px;
    padding-bottom: 20px;
}

.intro{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: left;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-group label {
    width: 100%;
    margin-bottom: 10px;
}

.input-group input {
    margin-bottom: 10px;
    width: 40%;
    padding: 10px;
    border-radius: 10px;
    border: 1;
}

button {
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    font-weight: bold;
    width: 250px;
    margin: 20px;
    margin-left: 60px;
    font-size: 18px;
}

.text-footer {
    display: flex;
    padding: 10px;
    height: 40px;
    margin: 10px;
    margin-left: 60px;
}

h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

a.login {
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgreen;
    margin: 0;
    padding: 10px;
}